/* SIM PIN property lists */

#sim dl > * {
  line-height: 1.2em;
}

#sim dt {
  margin-left: 0.5em;
  font-weight: bold;
}

#sim dd {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

#simpin-confirm .error {
  color: red;
}

#simpin-confirm .input-wrapper {
  position: relative;
}

#simpin-confirm .input-wrapper input {
  position: absolute;
  top: 0;
}

#simpin-confirm .input-wrapper input[type=text] {
  pointer-events: none;
}
